*{
    box-sizing:border-box;
}
.container {
    flex-wrap: wrap;
    display: flex;
    width: auto;
    height: auto;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
    padding:0;
}
.container-fluid{
    border:1px solid gray;
    border-radius: 5px;
}
.btn {
    margin: 2px;
    background-color: white;
    color: dimgray;
    border: 1px solid gray;
    box-shadow: gray 3px 3px;
    flex: 1 1 20%;
}
#expressionInput{
    border:1px solid gray;
    background: white;
    border-radius:5px;
}
.btn:focus,
.btn:active {
    outline: none;
    box-shadow: gray 3px 3px;
}
